@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: #effaf7;
  margin: 0;
  font-family: "Newsreader";
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  &__header {
    font-family: "Newsreader";
    font-weight: 400;
    font-size: 32px;
  }

  &__button {
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 12px;
    font-family: "Outfit";
    line-height: 15px;
    font-weight: 500;
    padding: 0 16px;
  }
  &__button:hover {
    background-color: $color-accent;
    color: $color-light;
  }
}

.container {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
  }
}
