@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.filterlist {
  margin: 0;
  background-color: #e4efec;
  padding: 1rem;

  @include desktop {
    width: 60%;
    margin: 1rem;
  }

  &__title {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &-items {
      background-color: #fff;
      margin: 6px 10px;
      padding: 8px 12px;
      border-radius: 0.5rem;
      cursor: pointer;
      border: 2px solid #b7cec9;
    }

    &-items:hover {
      background-color: #49675a;
      color: #fff;
    }
  }

  &__container {
    margin-left: 1rem;
  }
}
