$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$text-primary: #0c1e1a;
$color-accent: #1e6655;
$color-primary: #effaf7;
$color-secondary: #e4efec;
$color-border: #b7cec9;
$color-light: #fff;
